@{
  Layout = "_Layout";
}
<div id="splash-page">
  <h1>Welcome to the BakeryVendor</h1>
  <div class="button-group">
    <a href="/vendors" class="button">View Vendors</a>
    <a href="/orders" class="button">View Orders</a>
  </div>
</div>