@{
  Layout = "_Layout";
}

<h1>Add an Order</h1>
@using BakeryVendor.Models;
<form action="/orders" method="post">
  <div>
    <label for="orderVendor">Vendor</label>
    <select name="orderVendor" id="orderVendor">
      @foreach (Vendor vendor in @Model)
      {
        @if(ViewBag.VendorId != vendor.Id)
        {
          <option value="@vendor.Id">@vendor.Name</option>
        }
        else 
        {
          <option selected value="@vendor.Id">@vendor.Name</option>
        }
      }
    </select>
  </div>
  <div>
    <label for="orderTitle">Title of Order</label>
    <input id="orderTitle" name="orderTitle" type="text">
  </div>
  <div>
    <label for="orderCost">Cost of Order</label>
    <input id="orderCost" name="orderCost" type="number">
  </div>
  @if(ViewBag.VendorId != 0)
  {
    <input id="returnToVendor" name="returnToVendor" value="true" type="hidden">
  }
  <button type="submit">Add Order</button>
</form>
